<h1>Team Index page</h1>

<p><%= link_to 'Create New Team', '/teams/new' %></p>

<% @teams.each do |team| %>
<p><%= team.name %></p>
<p><%= team.currently_leading %></p>
<p><%= team.championships_won %></p>


<% end  %>
